<!-- FILE: styles.css -->
body {
  font-family: Arial;
  margin: 0;
  background: #f5f7fb;
}

.header {
  background: black;
  color: white;
  padding: 15px;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 30px;
  background: #2563eb;
  color: white;
}

.hero input {
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  border: none;
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  padding: 20px;
}

.job-card {
  background: white;
  padding: 15px;
  border-radius: 10px;
}

.details-btn {
  display: inline-block;
  margin-top: 10px;
  color: white;
  background: #2563eb;
  padding: 8px 12px;
  text-decoration: none;
}

.pagination {
  text-align: center;
  margin: 20px;
}
